torch
torchvision
matplotlib
numpy
opencv-python # cv2
imageio
imageio-ffmpeg
pyyaml # yaml
tqdm
argparse
cython
scikit-image # skimage
scipy
onnxruntime
gradio
mxnet>=1.6.0
scikit-learn
boto
tensorflow==1.15.0
tensorflow-estimator==1.15.1
keras==2.1.5
unidecode
shapely
git+git://github.com/lamhoangtung/imutils
editdistance
pytz
pandas
protobuf>=3.12
onnx==1.7.0
PyMuPDF==1.16.10
h5py<3.0.0
httptools==0.1.1
decord
numba
onnxruntime-gpu